@font-face {
    src: url(charcoal.ttf) format("truetype");
    font-family: Charcoal;
}

header {
    display: inline;
    height: 20px;
    background-color: rgb(221, 221, 221);
    display: block;
}

body {
    margin: 0;
    background-image: url("OS9_Default.png");
    background-repeat: repeat;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.window {
    position: absolute;
    height: 250px;
    width: 400px;
    top: 100px;
    overflow: hidden;
    background-color: white;
}

.windowheader {
    height: 22px;
    background-color: rgb(204, 204, 204);
}

.apple-button {
    position: absolute;
    top: 2px;
    display: inline;
    margin-left: 8px;
    margin-right: 10px;
}

.headerText {
    display: inline;
    font-size: 12px;
    -webkit-font-smoothing: auto;
    background: transparent;
    border: none !important;
}

.noButtonText {
    position: absolute;
    top: 1px;
    background: transparent;
    border: none !important;
    font-family: Charcoal;
    font-display: swap;
    font-size: 13px;
}

.closeButton {
    position: absolute;
    top: 4px;
    left: 4px;
}

.minButton {
    position: absolute;
    top: 4px;
    right: 4px;
}

.maxButton {
    position: absolute;
    top: 4px;
    right: 20px;
}

.titlebar {
    display: inline;
    height: 20px;
    background-color: rgb(221, 221, 221);
    display: block;
}

.left-corner {
    display: inline;
}

.right-corner {
    display: inline;
    position: relative;
    float: right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.title-bar-line-white {
    position: absolute;
    height: 1px;
    background-color: rgb(255, 255, 255);
    left: 21px;
    right: 38px;
}

.title-bar-line-grey {
    position: absolute;
    height: 1px;
    background-color: rgb(119, 119, 119);
    left: 22px;
    right: 37px;
}

.windowName {
    position: absolute;
    font-family: Charcoal;
    font-weight: lighter;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(204, 204, 204);
    top: 2px;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 13px;
}

.right-header {
    position: absolute;
    right: 65px;
    top: 2px;
    background: transparent;
    border: none !important;
    font-family: Charcoal;
    font-display: swap;
    font-size: 13px;
}

.time {
    position: absolute;
    display: inline;
    right: 100px;
    top: 2px;
    background: transparent;
    border: none !important;
    font-family: Charcoal;
    font-display: swap;
    font-size: 13px;
}