@font-face {
    src: url(fonts/charcoal.ttf) format("truetype");
    font-family: Charcoal;
}

@font-face {
    src: url(fonts/chicago.ttf) format("truetype");
    font-family: Chicago;
}

@font-face {
    src: url(fonts/chicagolight.ttf) format("truetype");
    font-family: Chicago Light;
}

@font-face {
    src: url(fonts/genevaregular.ttf) format("truetype");
    font-family: Geneva;
}

@font-face {
    src: url(fonts/monaco.ttf) format("truetype");
    font-family: Monaco;
}

header {
    display: inline;
    height: 20px;
    background-color: rgb(221, 221, 221);
    display: block;
}

body {
    margin: 0;
    background-repeat: repeat;
    overscroll-behavior: contain;
    background-image: url("wallpapers/MacOSDefault.png");
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.window {
    position: absolute;
    height: 250px;
    width: 400px;
    top: 100px;
    overflow: hidden;
    background-color: white;
}

.window__titlebar {
    height: 22px;
    background-color: rgb(204, 204, 204);
}

.menubar__apple-button {
    position: absolute;
    top: 2px;
    display: inline;
    margin-left: 8px;
    margin-right: 10px;
}

.menubar__action-button-div {
    display: inline;
    font-size: 12px;
    -webkit-font-smoothing: auto;
    background: transparent;
    border: none !important;
}

.menubar__button--no-text {
    position: absolute;
    top: 1px;
    background: transparent;
    border: none !important;
    font-family: Charcoal;
    font-display: swap;
    font-size: 13px;
}

.window__titlebar__close-button {
    position: absolute;
    top: 4px;
    left: 4px;
}

.window__titlebar__min-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.window__titlebar__max-button {
    position: absolute;
    top: 4px;
    right: 20px;
}

.menubar {
    display: inline;
    height: 20px;
    background-color: rgb(221, 221, 221);
    display: block;
}

.menubar__left-corner {
    display: inline;
}

.menubar__right-corner {
    display: inline;
    position: relative;
    float: right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.window__titlebar__line--white {
    position: absolute;
    height: 1px;
    background-color: rgb(255, 255, 255);
    left: 21px;
    right: 38px;
}

.window__titlebar__line--grey {
    position: absolute;
    height: 1px;
    background-color: rgb(119, 119, 119);
    left: 22px;
    right: 37px;
}

.window__title-bar__windowName {
    position: absolute;
    font-family: Charcoal;
    font-weight: lighter;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(204, 204, 204);
    top: 2px;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 13px;
}

.menubar__right-header {
    position: absolute;
    right: 65px;
    top: 2px;
    background: transparent;
    border: none !important;
    font-family: Charcoal;
    font-display: swap;
    font-size: 13px;
}

.menubar__time {
    position: absolute;
    display: inline;
    right: 100px;
    top: 2px;
    background: transparent;
    border: none !important;
    font-family: Charcoal;
    font-display: swap;
    font-size: 13px;
}

.desktop__icon {
    position: absolute;
    right: 32px;
    margin-top: 16px;
}

.desktop__icon--text {
    position: absolute;
    top: 24px;
    font-family: Geneva;
    font-weight: 100;
    font-size: 12px;
    padding: 2px;
    background-color: rgb(204, 204, 204);
}

.appearance_selector {
    position: absolute;
    width: 200px;
    height: 130px;
    right: 20px;
    top: 86px;
    font-family: Chicago Light;
    border: 3px solid;
    border-color: rgb(102, 102, 204);
    border-radius: 0.25em;
}

.appearance_apply {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: Chicago Light;
}

.appearance__preview {
    position: absolute;
    left: 35px;
    top: 77px;
}

.gol__board__box--unchecked {
    background-color: #DDD;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 3%;
    height: 3%;
    cursor: pointer;
    position: relative;
    margin: 0px;
    margin-bottom: -0.45%;
    border-radius: 0px;
    border-color: black;
    background: transparent url(img/os/buttonunclicked.png) center top;
    background-size: cover;
    border: 1px solid;
}

.gol__board__box--checked {
    background-color: #DDD;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 3%;
    height: 3%;
    cursor: pointer;
    position: relative;
    margin: 0px;
    margin-bottom: -0.45%;
    border-radius: 0px;
    border-color: black;
    background: transparent url(img/os/buttonclicked.png) center top;
    background-size: cover;
    border: 1px solid;
}

.gol {
    margin: auto;
}

.qt {
    background-image: url("img/quicktime/qtbkg.png");
}

.qt__video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 400px;
    max-height: 400px;
}

.qt__time {
    position: absolute;
    height: 19px;
    border-radius: 5px;
    border: 2px solid #C0C0C0;
    background-color: rgb(239, 247, 222);
}

.qt__time__playbar {
    border: rgb(82, 82, 82) 1px solid;
}

.qt__time__playtime {
    font-family: Monaco;
    font-size: 12px;
    display: inline;
    padding-right: 10px;
    padding: 5px;
}

.qt__time__spacers {
    padding: 1px;
}

.qt__time__playbar--div {
    display: inline;
}

.qt__time__playtime--div {
    display: inline;
}

.qt__time__spacer--div {
    display: inline;
    position: absolute;
    padding-left: 5px;
    top: 2px;
}

.qt__play-button {
    background: url(img/quicktime/qtplaybutton.png) no-repeat;
    background-size: 48px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: none;
}

.qt__play-button--div {
    display: block;
    position: absolute;
    padding-top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

.qt__footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: -6px;
}

.qt__footer__img {
    display: inline;
    position: absolute;
    top: -41px;
}

.qt__footer__img--extend {
    display: inline;
    position: absolute;
    margin-top: -40px;
}

.mac-button {
    font-family: Chicago Light;
}

.qt__file-select {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.calc__button {
    height: 16px;
    width: 18px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.calc__button__div {
    position:absolute;
    top: 52px;
    left:7px;
}